@use "sass:math";
@use "sass:list";

@import "lib";
@import "tokens/cssvars";

// Utilities
// // -----------------------------------------------------------------------------
// @import "utils/variables";
// @import "utils/mixins";
// @import "utils/functions";
// @import "utils/animations";

// Utilities
// -----------------------------------------------------------------------------
@import "utils/utilities";
@import "utils/grid";

// Base
// -----------------------------------------------------------------------------
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/transitions";

// set space var, used in space function
:root {
  --space: 4px;
  @include mq(md) {
    --space: 4px;
  }
}

// prevent clicking on links inside an sbEditable
[data-blok-uid] * {
  pointer-events: none;
}

body {
  word-wrap: break-word;
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;

  min-height: 100%;
  height: initial; //for lenis
  scroll-behavior: initial;
}

html {
  min-height: 100%;
  height: initial; //for lenis
  scroll-behavior: initial;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
