/**
 * Add custom tokens here
 * e.g. to abstract colors, fonts, etc.
 * $color-brand: $color-yellow;
 * 
 */

$font-body-small: $font-large-body-large;
$font-h1: $font-large-h1;
$font-h2: $font-large-h2;
$font-h3: $font-large-h3;
$font-h4: $font-large-h4-medium;
$font-h5: $font-large-h5;
$font-h6: $font-large-h6;

$color-link: $color-category-fashion;
$color-bullet: $color-category-fashion;
